*{
    font-family: monospace ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bolder;
}
.banner{
    background-color: rgb(210, 45, 72);
}
.banner2{
    justify-content: center;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #fff;
    
}
.banner2 img{
    margin: 35px;
    width: 208px;
}
input{
    border: #fff 2px solid;
    padding: 16px;
    height: 35px;
    width: 653px;
    margin-top: 34px;
}
.arama{
    display: flex;
}
.slider{
    margin-right: 290px;
    display: flex;
}
.resim{
    display:flex ;
    justify-content: center;
}
.slider i{
    color: orange;
    position: relative;
    top: 43px;
    left: -23px;
}
.menus a{
    text-decoration: none;
    display: flex;
    color: #333333;
}
.menus a:hover{
    color: orange;
}
[type="text"]:hover{
    transition: 0.5s;
    border:#f27a1a 2px solid;
}
.menus p{
    width: 67px;
}
.menus{
    top: 40px;
    left: -246px;
    position: relative;
    gap: 18px;
       display: flex;
}
.banner3{
    margin-left: 238px;
    display: flex;

}
.header1{
    border-bottom: 1px solid #d9d9d9;
}

.linkler{
    margin-bottom: 11px;
    gap: 20px;
    justify-content: center;
    display: flex;
}
.linkler a{
    border-bottom: 2px solid #fff;
    text-decoration: none;
    color: #333;
}
.linkler a:hover{
    color:#f27a1a ;
    border-bottom: 2px solid #f27a1a;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons img{
    border: 1.5px solid gray;
    border-radius: 74px;
    width: 71px;
}
.icons {
    margin-top: 23px;
    display: flex;
    gap: 40px;
}
.icons img:hover{
    border: 1.5px solid#f27a1a;
}
.yazilar{
    font-size: 14px;
    gap: 47px;
    justify-content: center;
    text-align: center;
    display: flex;
}
.yazilar p:hover{
     color: #f27a1a;
}
.ilanlar img{
    width: 358px;
}
.ilanlar{
    gap: 14px;
justify-content: center;
display: flex;
}
.indirimler{
    margin-top: 37px;
    gap: 16px;
    justify-content: center;
    display: flex;
}
[alt="opsition"]{
    width: 355px;
    border-radius: 10px;
}
.indirimler2{
    margin-bottom: 21px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.kapsayici{
    flex-direction: column;
    display: flex;
}
.satis{
    height: 421px;
    width: 1094px;

    background-color: #fffaf6;
    border: #f2e5da 2px solid;
    justify-content: center;

}
.satislar{
    justify-content: center;
    display: flex;
}
.bas{
    height: 23px;
    margin-right: 824px;
}
[alt="ayar"]{
    margin-top: 20px;
    width: 127px;
    height: 183px;
}
.box1{border-radius: 10px;
    border:  1px #e6e6e6 solid;
    flex-direction: column;
    width: 224px;
    height: 375px;
    display: flex;
    background-color: #fff;
    margin-left: 22px;
}
.resim{
    width: 100%;
    justify-content: center;
    display: flex;
}
.box1 p{
    margin-top: 11px;
    margin-left: 10px;
    opacity: 0.6;
}
.box1 span{
    margin-top: 42px;
    margin-left: 10px;
    font-size: 15px;
    color: #f27a1a;
}
.boxs{display: flex; gap: 24px;}
.indirimler3{
    margin-top: 44px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.satislar2{
    justify-content: center;
    display: flex;
    margin-top: 227px;
}
.indirimler4{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.indirimler5{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.bas h2{
    margin: 12px;
    font-size: 25px;
}
button{
    display: none;
    border-radius: 20px;
    margin-top: 12px;
    margin-left: 37px;
    width: 136px;
    height: 39px;
    animation: btn infinite 1s;
}
.box1:hover button{
   
    display: inline;
}
@keyframes btn{
    0%{background-color: aqua;}
    20%{background-color: rgb(98, 227, 182);}
    40%{background-color: rgba(213, 98, 236, 0.498);}
    60%{background-color: rgb(195, 107, 232);}
    80%{background-color: rgb(232, 89, 161);}
    100%{background-color: rgb(185, 225, 84);}

}
